doctype html
html(lang="en")
    head
        link(rel="stylesheet" , href="./main.css")
        title #{checkpoint-express}
    body 
        include  /navbar.pug
        section
            main
                div.contactform
                    h1(class="cont") tel +216 29 65 54 93
                    div
                        h1 Email 
                        label(for="Your Email")
                        input(type="email" , placeholder="Please Enter Your Email")
                        label(for="Your Message")
                        input(type="text" , placeholder="Insert Your Message")      