doctype html
html(lang="en")
    head
        title #{checkpoint-express}
        link(rel="stylesheet",  type="text/css" , href="./main.css")
    body 
      include   ./navbar.pug  
      p.greetings ...Bienvenue  to #{checkpoint-express} ^^

