doctype html
html(lang="en")
    head
        link(rel="stylesheet", href="./main.css")
        title #{checkpoint-express}
    body 
        nav
            ul 
                li
                    a(href ="/") Home
                li
                    a(href ="/services") Services
                li
                    a(href ="/contact") Contact
            block content 
